@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@font-face {
  font-family: punc;
  src: url('/assets/punc.ttf') format('truetype');
}

@font-face {
  font-family: kana;
  src: url('/assets/kana.ttf') format('truetype');
}

.material-symbols-outlined {
  font-size: inherit;
}

/* preflight */
* {
  padding: 0;
  margin: 0;

  /* Reset border */
  box-sizing: border-box;
  border: 0 solid;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul, menu { list-style: none; }


:root {
  --paper-colour: #e8d7aa;
  --foreground-colour: #584d35; /* TODO */
  --background-colour: #e8d08f;
  --border-colour: #b8b8b8;
  --theme-colour: #50422c;
  --quote-colour: #ebdeb9;
  --unit-length: calc(30rem + 2 * (2rlh - 1rem));
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper-colour: #232323;
    --foreground-colour: #aaa;
    --background-colour: #1b1b1b;
    --border-colour: black;
    --theme-colour: #bfbfbf;
    --quote-colour: #2e2e2e;
  }
}

html, body {
  font-size: 15px;
  line-height: 1.667;
}

body {
  /* Set locale to `zh-HK` to enable essential substitutions of puncs */
  font-family:
    punc,  /* Use features `chws`/`vchw` */
    kana,  /* Use features `palt`/`vpal` */
    Aleo,  /* Latin */
    'Noto Sans HK', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  text-align: justify;
  hanging-punctuation: first;

  /* Disable unintended font resizing on iOS */
  -webkit-text-size-adjust: 100%;

  color: var(--foreground-colour);
  background-color: var(--background-colour);

  width: 100vw;
  overflow-x: hidden;

  font-feature-settings:
    "palt", "vpal";  /* Ideally `pkna` but Source Han doesn't support */
}

/* Only do PcS in Chrome (Safari has layout err) */
@supports (text-spacing-trim: normal) {
  body {
    font-feature-settings: "palt", "vpal", "chws", "vchw";
  }
}

a {
  font-weight: 600;
  color: var(--theme-colour);
  text-decoration: none;

  transition:
    background-color .3s ease-out,
    color .3s ease-out;

  border-radius: 0.2rem;
  cursor: none;
}

a:hover, ::selection {
  color: var(--background-colour);
  background-color: var(--foreground-colour);
}

ol {
  list-style-type: cjk-ideographic;
  list-style-position: inside;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.tcy {
  font-family: 'Noto Sans HK', sans-serif;
  text-combine-upright: all;
}

.paper, .paper blockquote {
  box-shadow: inset 0 1px 0 #fff6;
}

@media (prefers-color-scheme: dark) {
  .paper, .paper blockquote {
    box-shadow: inset 0 0 0 1px #fff2;
  }
}

.paper {
  a:hover, ::selection { color: var(--paper-colour); }

  /* Place link at the bottom right corner when hovering */
  &:hover .link { opacity: 0.5; }
  .link {
    opacity: 0;

    &:hover { opacity: 1; }
  }
  &:not(.shortie) .link { display: none; }

  position: relative;   /* -> */
  .link {
    position: absolute; /* <- */
    bottom: 0; right: 0;

    width: 1rem;
    line-height: 1;
    margin: calc(1rlh - 1rem);

    transition: opacity .3s ease-out;
  }

  /* Paper size */
  width: fit-content;
  &:not(.shortie) {
    width: var(--unit-length);
    writing-mode: vertical-rl;
  }
  &.single:not(.shortie) { width: calc(0.5rem + 28rlh + (2rlh - 1rem)); }

  margin: 0 auto;
  & + .paper { margin-top: calc(2rlh - 1rem); }

  background-color: var(--paper-colour);
  border: 0.75px solid var(--border-colour);
  border-radius: 0.5rem;

  &:not(.shortie) .post, .post blockquote {
    &> p {
      &:not(:first-of-type) {
        text-indent: 1rem;
      }
    }
  }

  &.shortie .post {
    &> p + p, p + blockquote, blockquote + p, p + ol, ol + p {
      margin-block-start: 1rlh;
    }
  }

  &.shortie .post { width: 30rem; }
  &:not(.shortie) .post {
    width: 100%;
    height: 30rem;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
  }

  .post {
    margin-inline: calc(2rlh - 1rem);
    padding-block:  calc(2rlh - 1rem - (0.5rlh - 0.5rem));

    h2 { margin-block-end: 1rlh; }

    blockquote {
      background-color: var(--quote-colour);

      padding-inline: 1rem;
      padding-block:  calc(1rem - (0.5rlh - 0.5rem));

      border: 0.75px solid var(--border-colour);
      border-radius: 0.333rem;

      &:last-child {
        margin-block-end: calc(0.5rlh - 0.5rem);
      }
    }
  }
}

/* header */

header {
  height: calc(1rlh + 1rem + 2 * (2rlh - 1rem));
  position: sticky;
  top: calc(0.5rem - 2.5rlh);
  z-index: 100;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--unit-length);

    .links {
      display: flex;
      gap: 1rem;
    }
  }

  &::before {
    content: '';
    width: 100vw;
    position: fixed;
    height: 2rlh;
    top: 0;
    backdrop-filter: blur(54px);
    z-index: -1;
    mask-image: linear-gradient(to top, transparent, #000 1.9rem);
  }
}

header nav, #ū-ê-bô-ê {
  padding: calc(2rlh - 1rem - (0.5rlh - 0.5rem)) 0;
  margin: 0 auto;
}

#ū-ê-bô-ê {
  width: fit-content;
  color: var(--secondary);

  article {
    margin-inline: calc(2rlh - 1rem);
    max-width: 30rem;
    p + p { margin-block-start: 1rlh; }
  }
}

.faded {
  opacity: 0.72;
}

@media (max-width: 450px) {
  .paper {
    width: 96vw;

    &:not(.single) .link {
      opacity: 0.5;
    }

    &.shortie .post {
      width: auto;
      text-align: left;
    }

    &:not(.shortie), &.single:not(.shortie) {
      width: 96vw;
    }
  }

  #ū-ê-bô-ê {
    text-align: left;
  }
}
