<footer id="ū-ê-bô-ê">
  <p style="text-align: center;"><a href="#ū-ê-bô-ê">☙</a></p>
  <p>到過餓死人的城市沒得？還煩恁燃一根菖蒲水熬成的菸，別忙到喫，捏着濾嘴將牠倒豎板凳上，好讓綠煙祛々屋頭的邪氣兒。請用捏過菸的指頭揪一揪圓肚皮，擰開裝有墨碧蔻丹的秀氣黑瓶，細聽屋外蟬鳴。若抽屜裡頭有柄傳家的葵扇，可真好不過了——既可打發縈骨的暑熱，又可順帶唬走一旁歪臥倒起陪恁聽故事的魂兒。</p>
  <p>
    <i>The Complete Chunghwan Toto</i> 始自令和三年淺春的南國，版式幾經修裁，終爲如今模樣。名字借用九四年再版的《<a href="https://www.discogs.com/release/1064725-Count-Basie-The-Complete-Atomic-Basie">原子貝西完璧盤</a>》；chunghwa 則發想於町中華，是日常小寫的街坊味。網誌大多在實驗 sinophone，<ruby>脫<rt>ダツ</rt>陸<rt>リク</rt>式</ruby>華文，不過希望未來有戀殖、異風倪與不去自我嫌惡的自由。
  </p>
  <p>
  事多盯 @toto@chunghwa.asia、<a href="https://bsky.app/profile/chunghwa.asia">Bluesky</a>。看過的<a href="https://letterboxd.com/E8D08F">戲與跑畫兒</a>。
  </p>
</footer>
