<header>
  <nav>
    <h1><a href="/">{{ .Site.Title }}</a></h1>
    <div class="links">
      <a href="/feed.xml">
        <svg class="icon"><use href="/assets/icon/milkie.svg" /></svg>
        <div class="label">RSS</div>
      </a>
      <a href="/#ū-ê-bô-ê">
        <svg class="icon"><use href="/assets/icon/noren.svg" /></svg>
        <div class="label">有的冇的</div>
      </a>
      <a href="mailto:toto@chunghwa.asia">
        <svg class="icon"><use href="/assets/icon/luv lettre boi.svg" /></svg>
        <div class="label">來函</div>
      </a>
    </div>
  </nav>
</header>
