{{ define "main" }}

<div class="posts">
  {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
  {{ range .Paginator.Pages }}
  {{ if .Title }}
  <div class="post-mask">
    <article class="post">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  {{ else }}
  <div class="post-mask shortie">
    <article class="post">
  {{ end }}
      {{ .Content }}
    </article>
    <a href="{{ .Permalink }}" class="material-symbols-outlined button">link</a>
  </div>
  {{ end }}
</div>

<div id="ū-ê-bô-ê">
  <p style="text-align: center;"><a href="#ū-ê-bô-ê">有的冇的</a></p>
  {{ .Site.Params.about_me | safeHTML }}
</div>

{{ end }}
