{{ define "main" }}

<div class="posts">
  {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
  {{ range .Paginator.Pages }}
  {{ if .Title }}
  <div class="post-mask">
    <article class="post">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  {{ else }}
  <div class="post-mask shortie">
    <article class="post">
  {{ end }}
      {{ .Content }}
    </article>
    <a href="{{ .Permalink }}" class="material-symbols-outlined button">link</a>
  </div>
  {{ end }}
</div>

<div id="ū-ê-bô-ê">
  <p style="text-align: center;"><a href="#ū-ê-bô-ê">有的冇的</a></p>
  <p>
    <i>The Complete Chunghwan Toto</i> 始自令和三年淺春的南國，版式幾經修裁，終爲如今模樣。名字借用九四年再版的《<a href="https://www.discogs.com/release/1064725-Count-Basie-The-Complete-Atomic-Basie">原子貝西完璧盤</a>》；chunghwa 則發想於町中華，是日常小寫的街坊味。網誌大多在實驗 sinophone，脫陸式華文，不過希望未來有戀殖、異風倪與不去自我嫌惡的自由。
  </p>
  <p>
  事多盯 @toto@chunghwa.asia、<a href="https://bsky.app/profile/chunghwa.asia">Bluesky</a>。關於直書排印和 Dynamicland 的討論請<a href="https://t.me/+4CVAZy29lrE0MGU1">移玉至電報</a>。這裏有看過的<a href="https://letterboxd.com/E8D08F">戲與跑畫兒</a>——傑布森說「<a href="https://www.theguardian.com/books/2001/apr/01/sciencefictionfantasyandhorror.features">御宅族是數位時代藏家</a>」，另一邊廂 my little airport 說「<a href="https://www.youtube.com/watch?v=ZY_jT0QbTnw">宅女，上街吧！</a>」。
  </p>
</div>

{{ end }}
